{
  "extends": ["standard", "standard-react"],
  "env": {
    "cypress/globals": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "chai-friendly",
    "cypress",
    "react"
  ],
  "rules": {
    "jsx-quotes": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
