html, body {
  background: #f3f0f4db;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  overflow-y: scroll;
  min-height: 100vh;
}

/* TODO: try to find better way for mobile notifications styles */
@media only screen and (max-width: 600px) {
  .notifications-wrapper,
  .notifications-wrapper .notifications-bl,
  .notifications-wrapper .notification {
    width: 100% !important;
  }
}
